/*reset start*/
* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
/*reset end*/

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/*header start*/
header {
	width: 100%;
	height: 1.3333333rem;
	background: #900;
	display: flex;
	align-items: center;
	.header-left {
		margin-left:.5rem;
		width: .8rem;
		height: .8rem;
		background: url(../img/fan.png) no-repeat;
		background-size: 100% auto;
		display: none;
	}
	.header-title {
		flex: 1;
		font-size: .5333333rem;
		color: #fff;
		text-align: center;
	}
	.header-right {
		margin-right:.5rem;
		width: .8rem;
		height: .8rem;
		background: url(../img/scc.png) no-repeat;
		background-size: 100% auto;
		display: none;
	}
}
/*header end*/

/*main start*/
section {
	flex: 1;
	overflow: hidden;
	position: relative;
	>div {
		background: pink;
	}
}
.home {
	position: absolute;
	width: 100%;
	height: 100%;
	& a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& img {
			width: 8rem;
			height: auto;
			margin-top: .4rem;
		}
	}
}
/*main start*/

footer {
	width: 100%;
	height: 1.3333333rem;
	background: #900;
}